In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('1.Programming Assignment: Linear Regression/ex1/ex1data2.txt', sep = ',', header = None)
X = data.iloc[:,0:2] # read first two columns into X
X_1= data.iloc[:,0:2] # read first two columns into X
y = data.iloc[:,2] # read the third column into y
m = len(y) # no. of training samples
data.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [2]:
#Feature Normalization
mu = np.mean(X)
sigma = np.std(X)

X = (X - mu)/sigma
#Adding the intercept term and initializing parameters
ones = np.ones((m,1))
X = np.hstack((ones, X))
X_1 = np.hstack((ones, X_1))
alpha = 0.01
num_iters = 400
theta = np.zeros((3,1))
y = y[:,np.newaxis]

In [3]:
def computeCostMulti(X, y, theta):
    temp = np.dot(X, theta) - y
    return np.sum(np.power(temp, 2)) / (2*m)
J = computeCostMulti(X, y, theta)
print(J)

65591548106.45744

In [4]:
def gradientDescentMulti(X, y, theta, alpha, iterations):
    m = len(y)
    for _ in range(iterations):
        temp = np.dot(X, theta) - y
        temp = np.dot(X.T, temp)
        theta = theta - (alpha/m) * temp
    return theta
theta = gradientDescentMulti(X, y, theta, alpha, num_iters)
print(theta)

[[334302.06399328]
 [ 99411.44947359]
 [  3267.01285407]]

In [5]:
J = computeCostMulti(X, y, theta)
print(J)

2105448288.6292474

In [6]:
temp = [1,1650,3];
temp[1:3] = (temp[1:3] - mu)/sigma
print(temp)
price = theta.T.dot(temp);
print('Price:', price)

[1, -0.4460438603276164, -0.22609336757768828]
Price: [289221.54737122]

In [7]:
from numpy.linalg import inv

def normal_eq(X, y):
    return inv(X.T.dot(X)).dot(X.T).dot(y)

theta = normal_eq(X_1, y)
cost = computeCostMulti(X_1, y, theta)

In [8]:
print('theta:', theta.ravel())
print('cost:', cost)

temp = [1,1650,3];
print('Predicted price of a 1650 sq-ft, 3 br house (using normal equations):')
price_2 = theta.T.dot(temp);
print('Price:', price_2)

theta: [89597.9095428    139.21067402 -8738.01911233]
cost: 2043280050.6028287
Predicted price of a 1650 sq-ft, 3 br house (using normal equations):
Price: [293081.4643349]